.react-icons{
    position: relative;
    top: -200px;
    right: -110px;

    color: var(--grey1);
    cursor: pointer;
    width: 19px;
    height: 19px;
}

.react-icons:hover {
    color: var(--orange1);
}