.react-icons{
    position: relative;
    top: -12rem;
    right: -6rem;

    color: var(--grey1);
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.react-icons:hover {
    color: var(--orange1);
}