.pre-input{
    font-family: 'Barlow', sans-serif;
    
    color: var(--grey1);
    background-color: transparent;
    
    border: solid var(--dark3) 1px;
    border-radius: 4px;
    
    height: 56px;
    width: 266px;
    padding: 13px 16px;
    
    font-size: 12px;
}