li {
    text-transform: uppercase;
    color: var(--grey1);
    list-style: none;
    font-weight: 700;
    font-size: .8rem;
}

.text{
    color: var(--grey2);
    font-family: 'Barlow';
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: default;
}

.text .icon{
    color: var(--orange1);
    margin: 0 1rem;
    width: 30px;
    cursor: default;
}

#logo{
    height: 4vw;
    margin-left: -20px;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;    
}
.icon:hover{
    color: var(--orange1);
}

.icon-search{
    width: 20px;
    height: 20px;

    position: relative;
    left: -20px;
    top: 2px;
}

input{
    position: relative;
    left: 20px;
    width: 20px;
        
    height: 15px;
    width: 210px;

    font-size: 1rem;
    padding: 1rem .4rem;
}