.card-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 178px;
    
    background-color: var(--background);
    border-radius: 50%;
}

.card-circle:hover{
    border: solid var(--orange1) 1px;
}


#img{
    height: 108px;
}
